@using LIbrary.ViewModels.Auth;

@model RegisterVM;

<section class="contact_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Register
            </h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form asp-action="Register" method="POST">
                        <div>
                            <input asp-for="Name" type="text" placeholder="Your Name" />
                        </div>
                        <div>
                            <input asp-for="Email" type="email" placeholder="Email" />
                        </div>
                        <div>
                            <input asp-for="Password" type="password" placeholder="Password" />
                        </div>
                        <div>
                            <input asp-for="ConfirmationPassword" type="password" placeholder="Confirmation password" />
                        </div>
                        <div class="btn_box">
                            <button type ="submit">
                                Register
                            </button>
                        </div>
                    </form>
                </div>
            </div>
@*             <div class="col-md-6 ">
                <div class="map_container">
                    <div class="map">
                        <div id="googleMap"></div>
                    </div>
                </div>
            </div> *@
        </div>
    </div>
</section>