<!-- slider section -->
<section class="slider_section ">
    <div class="slider_bg_box">
        <img src="@Url.Content("~/images/bg-slider-new.jpg")" alt="" style="width: 100%; height: auto; display: block;">
    </div>
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Browse all books
                                </h1>
                                <p>
                                    Selecting a book is akin to choosing a companion for a journey—one that promises adventure, enlightenment, or simply respite from the mundane. It's about perusing shelves or scrolling through virtual libraries, searching for that elusive connection, whether through a captivating cover, a tantalizing synopsis, or the familiar name of a beloved author. The decision is as much a reflection of personal taste as it is an exploration of new horizons. It's about delving into unknown realms, empathizing with fictional characters, or delving deeper into topics of interest. Each book holds the potential to transport, educate, or entertain, offering an escape into realms of imagination or a mirror reflecting the complexities of the human experience. Choosing a book is an invitation to embark on a voyage of discovery, where every page turned unveils new wonders and insights, enriching the reader's mind and soul.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        See all books
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Browse By genre
                                </h1>
                                <p>
                                    Choosing a book by genre offers a gateway to diverse worlds, each beckoning with its own allure and promise. Whether delving into the intricate mysteries of a crime thriller, traversing fantastical realms in epic fantasy, or unraveling the complexities of the human condition through literary fiction, the genre serves as a compass guiding readers towards their desired destination. It's a deliberate act of selecting the lens through which stories will unfold, allowing readers to immerse themselves fully in the themes, characters, and atmospheres that resonate most deeply. Each genre holds the power to captivate, enlighten, and inspire, offering endless possibilities for exploration and discovery within the vast landscape of literature.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Check Our genres
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="detail-box">
                                <h1>
                                    Browse By Author
                                </h1>
                                <p>
                                    Choosing a book by a particular author is akin to embarking on a journey with a trusted guide, each page a step deeper into their world of imagination and insight. It's about fostering a relationship, a mutual understanding between reader and writer. The decision is not merely about the story within the covers, but about the voice behind the words, the unique perspective they offer, and the emotions they stir. It's about seeking solace in familiar narratives or daring to explore uncharted territories of thought. Selecting a book by author is a declaration of trust, a belief in their ability to transport you to realms both known and unknown, leaving an indelible mark on your mind and heart.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Check Our authors
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
            <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
    </div>

</section>
<!-- end slider section -->